<!doctype html>
<html>
<head>
    <meta charset='utf-8'> 
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <title>Coveture | Request Membership</title>
    <meta name="author" content="Coveture">
    <meta name="description" content="Coveture delivers up to the minute alerts on your favorite fashion brands and designers.">
    <link rel="stylesheet" href="curtain.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<ol class="curtains">
    <!--<li id="section-1" class="cover" data-parallax-background="-.05">-->
    <li id="section-1" class="cover">



<!--homepage-->
    <nav>
        <ul>
            <li><a href="/blog">Read Our Blog</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>

    <h1>Coveture</h1>

    <h3>Get Updates  |  Apply for Membership</h3>
    <form name="signup" id="signup-form" action="#" method="post">
        <label for="email"></label>
        <input type="email" name="Email" id="email" placeholder="Enter Your Email"  pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|”(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*”)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])" autofocus required
 />

        <button type="submit" class="button">
            <span class="button-text">Sign Up</span>
        </button>
        <div class="clearfix"></div>
    </form>
<!--end homepage content -->




    </li>
    <li id="section-2">
        <article>
            <h4>About Coveture</h4>
            <hr>
            <p>Coveture keeps fashionistas in the know.  Our private service delivers up to the minute alerts about your favorite fashion brands and designers.</p>
            <br />
            <h4>The Team</h4>
            <hr>
            <p>We're a couple of NYC-based female wannabe-hackers who love fashion.</p>
            <br />
            <p></p>
            <p>Fashion data is our wheelhouse.  If you'd like to hear more about our projects or hire us to help your company make smarter decisions, <a href="#">contact us</a>.</p>
            <p></p>
            <p class="align-center">
               <a href="#" class="button">Subscribe for Updates</a>
               <a href="#" class="button">Apply for Membership</a> 
            </p>
        </article>
    </li>
    <li id="section-3">
        <a id="contact"></a>
        <section class="photos">
            <div class="fixed">
                <h4>Contact Us</h4>
                <p>Write us a message.</p>
                <p>We'll get back to you as soon as possible.</p>
            </div>
            <form>   
                <ul class="step-list">
                    <li class="step">
                        <p>ADD LOGO HERE</p>
                    </li>  
                    <li class="step">
                        <label class="field" for="name">Name</label>
                        <input type="text" name="Name" id="name" placeholder="Name">
                    </li>
                    <li class="step">
                        <label class="field" for="email">Email</label>
                        <input type="email" name="Email" id="email2" placeholder="Enter Your Email" required>
                    </li>
                    <li class="step">
                        <label class="field" for="subject">Subject</label>
                        <input type="text" name="subject" id="subject" placeholder="Subject">
                    </li>
                    <li class="step">
                        <label class="field" for="message">Message</label>
                        <textarea rows="10" cols="100" name="message" id="message" placeholder="Your sweet nothings go here."></textarea>
                    </li>
                    <li class="step">
                        <button type="submit" class="button">
                            <span class="button-text">Get Updates &amp; Apply for Membership</span>
                        </button>
                    </li>
                </ul>
                </form>
        </section>
    </li>
</ol>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>

 <%= javascript_include_tag 'curtain.js' %>

<script type="text/javascript">
    $(function(){
       $('.curtains').curtain({
           scrollSpeed: 300,
           controls: '.menu',
           curtainLinks: '.curtain-links',
           nextSlide: function(){
            console.log("ok");
           }
       });
    });
</script>
</body>
</html>